	.page {
				display: none;
			}

			.page-active {
				display: block;
			}
			dl {
				list-style-type: none;
			}

			dl li {
				text-decoration: none;
				color: black;
			}
			
			
			
			
			
			
			
			

img {
  /*width: 90%;*/
  width: 300px;
}


/* Browser specific (not valid) styles to make preformatted text wrap */		

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

body {
  /*margin: 35px;*/
}









 /* Style the tab */
.tablinks {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tablinks input {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tablinks input:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tablinks input.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border-top: none;

} 




.container{
	  margin: 0px;
	}


/*
p {
	width: 80%;
	}
*/















 /* Style the tab */
.tab {
  overflow: hidden;
 /* border: 1px solid #ccc;
  background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
 /* background-color: inherit;*/
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.bod {
 
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border-top: none;
} 


